<% content_for :title, "Log nutrition" %>

<h1 class="text-2xl font-bold mb-6">Log nutrition</h1>

<div class="max-w-xl">
  <%= render "form", nutrition_log: @nutrition_log, url: nutrition_logs_path %>
</div>
